<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        </style>
    <meta charset="UTF-8">
    <title>Children's Songs Recommendation </title>
</head>
<body>



    <div>
        <h1>Children's Songs Recommendation</h1>
<h1> Select a song: </h1>
<form action = "/" method="POST">
    <!-- Insert StringField elements here -->  
    {{ template_form.form() }}
    {{template_form.submit()}}
    </form>
    </div>
 

</body>
</html>